@charset "utf-8";
/* CSS Document */
* {
	margin: 0px; 
}

/*Encabezo*/
.Encabezado{
	
background: rgb(252,176,69);
background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
height: 120px;

}

.Encabezado img {

	width: 115px;
 padding-top: 10px;
padding-left: 10px;
}


/*Menu*/
ul {
		color: azure;
	font-size: 25px;
font-family: 'Ubuntu', sans-serif;
	
list-style: none; 
	
}

a{
	text-decoration: none;
	color:azure
}

.Encabezado{
	display: flex;
}
 
.Encabezado ul{
	padding-top: 30px;
	display: flex; 
}

.Encabezado ul li{
	
	 padding: 15px; 
	
}

.Encabezado-nav{
	
	padding-left: 60px ;
}

.Encabezado ul li a:hover {
	
	border-bottom: 3px solid;
	
}

/*Cuerpo*/
h1{
	color: gray;
}
p{
	color: grey;
}
.VenaditoXD{
	display:flex;
	justify-content: center;
	align-items: center;
}


/*Redes sociales*/
footer{

	background: rgb(252,176,69);
	background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	height: 190px;
	display: grid;
	
	justify-content: center;
	
	}
	
	main{
	 width: 100%;
	 display: flex;
	
	 flex-wrap: wrap;
	 cursor:pointer;
	 justify-content: center;
	}
	
	.icon{
	position: relative;
	width: 80px;
	height: 80px;
	margin: 20px;
	border-radius:50% ;
	transition: all .8s;
	}
	
	.icon i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 1.7rem;
	}
	
	svg circle {
	stroke-dasharray: 150px;
	transition: all .8s ease-in-out;
	}
	.icon:hover circle{
	stroke-dasharray: 220px;
	}
	
	footer h2{
		color: azure;
		font-size: 25px;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	}
	


/*Informacion sobre el lugar*/
.Informacion-lugar{
font-family: 'Ubuntu', sans-serif;
	width: 80%;
	margin: auto; 
	
}

